body{
    color: rgb(85, 48, 159);
    background-color: rgb(32, 132, 169);

}
div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: rgb(206, 158, 237);
    margin:auto

}
.container{
    align-content: center;
    border: solid rgb(85, 48, 159);
    border-width: 20px;
}